* {
  box-sizing: border-box;
}
body {
  font-size: 13px;
  line-height: 19px;
  color: #111;
  font-family: 'Hiragino Kaku Gothic Pro W3', 'Hiragino Kaku Gothic ProN',
    Meiryo, sans-serif;
}
a {
  text-decoration: none;
  color: #0066c0;
}
h1 {
  padding-bottom: 4px;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 400;
}
label {
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 700;
}
input {
  padding: 3px 7px;
  width: 100%;
  border-radius: 4px;
  border: 1px #a6a6a6 solid;
  height: 31px;
}
button {
  width: 100%;
  background: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 4px;
  height: 31px;
}
.header-logo {
  text-align: center;
}
.logo {
  width: 135px;
  height: 30px;
}
.page {
  padding: 14px 18px;
  margin-bottom: 22px;
}
.form {
  max-width: 350px;
  margin: 10px auto 14px;
  padding: 20px 26px;
  border-radius: 4px;
  border: 1px #ddd solid;
}
.info-icon {
  height: 13px;
}
.info {
  font-size: 12px;
}
.login-invitation {
  border-top: 1px #ddd solid;
}
/* .login-link::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2px 0 2px 5px;
  border-color: transparent transparent transparent #0066c0;
} */
/* ログインリンクの三角形を作ろうとした */
.help-links {
  border-top: #ddd 1px solid;
  width: 298px;
  height: 44px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 10px;
}
.help-link {
  line-height: 44px;
}
.credit {
  text-align: center;
}
