* {
  box-sizing: border-box;
}
body {
  font-size: 13px;
  line-height: 19px;
  color: #111;
  font-family: 'Hiragino Kaku Gothic Pro W3', 'Hiragino Kaku Gothic ProN',
    Meiryo, sans-serif;
}
a {
  text-decoration: none;
  color: #0066c0;
}
h1 {
  padding-bottom: 4px;
  margin: 0;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 400;
}
label {
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 700;
}
input {
  padding: 3px 7px;
  width: 100%;
  border-radius: 4px;
  border: 1px #949494 solid;
  height: 31px;
  box-shadow: inset 0 1px 1px -1px #111 ;
  font-size: 100%;
  margin-bottom: 13px;
}
button {
  width: 100%;
  background: linear-gradient(#f8dea1, #f1c24e);
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 4px;
  height: 31px;
  box-shadow: inset 0 1px 1px -1px #faecc9 ;
  font-size: 100%;
}
.header-logo {
  margin-top: 14px;
  margin-bottom: 18px;
  text-align: center;
}
.logo {
  width: 135px;
  height: 30px;
}
.form {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto ;
  margin-bottom: 14px;
  padding: 20px 20px;
  border-radius: 4px;
  border: 1px #ddd solid;
}
.info-icon {
  height: 13px;
}
.info-requirement {
  font-size: 12px;
  margin-top: -8px;
}
.info-agreement {
  margin: 0;
  font-size: 12px;
  padding-top: 18px;
  padding-bottom: 26px;
}
.login-invitation {
  border-top: 1px #ddd solid;
  padding-top: 31px;
  font-size: 12px;
  vertical-align: text-bottom;
  margin: 0 ;
}
/* .login-link::after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 2px 0 2px 5px;
  border-color: transparent transparent transparent #0066c0;
} */
/* ログインリンクの三角形を作ろうとした */
.help-links {
  border-top: #ddd 1px solid;
  width: 298px;
  height: 44px;
  text-align: center;
  margin: 26px auto 10px;
  padding-top: 31px;
  padding-left: 0;
}
.help-link {
  font-size: 11px;
  padding: 0 10px;
  display: inline;
}
.credit {
  text-align: center;
}
